body {
    font-family: "Montserrat Alternates", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #121415;
    color: #FFF;
}

h1 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 8vh auto;
    text-align: center;
    font-size: 8vh;
}